*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Work Sans', sans-serif;
}

.menu {
  backdrop-filter: blur(10px);
  background-color: rgba(116, 198, 157, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transform: translateY(100vh);
  transition: transform 0.3s linear;
}

.menu_open {
  transform: translateY(0);
}

.menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__text {
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0;
  color: rgba(255, 255, 255, 1);
  transition: color 0.15s linear;
}

.menu__text:hover {
  color: rgba(33, 37, 41, 1);
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 130px;
  margin: 0 auto;
  position: relative;
}

.images__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.button {
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 50px;
  transition: box-shadow 0.15s, transform 0.15s;
  background-color: rgba(33, 37, 41, 1);
  color: rgba(255, 255, 255, 1);
}

.button:hover {
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.5);
  transform: translate3d(2px, -2px, 0);
}

.button:focus {
  outline: none;
}

.button:active {
  transform: translate3d(0px, 0px, 0);
}

.intro__button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(33, 37, 41, 1);
}

.text_large {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.text_semilarge {
  font-weight: 500;
  font-size: 40px;
}

.text_semi {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.text_regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.text_smallbold {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text_small {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.text_crimson {
  font-family: 'Crimson Text';
}

.text_green {
  color: rgba(116, 198, 157, 1);
}

.text_grey {
  color: rgba(33, 37, 41, 0.5);
}

.nav {
  display: inline-block;
  vertical-align: middle;
}

.info {
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}

.info__text {
  margin-bottom: 15px;
}

.header {
  backdrop-filter: blur(10px);
  background-color: rgba(116, 198, 157, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__text {
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.15s linear;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__text_nav:hover {
  color: rgba(33, 37, 41, 1);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__item {
  display: flex;
  align-items: center;
}

.intro {
  background-color: rgba(116, 198, 157, 1);
  padding: 140px 0 80px 0;
}

.intro__text {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}

.row {
  padding: 40px 0;
}

.row__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row__item {
  width: 45%;
}

.row__item_small {
  width: 38%;
}

.row__item_big {
  width: 53%;
}

.row__text {
  margin-bottom: 15px;
}

.row_text_label {
  margin-bottom: 25px;
}

.companies {
  padding: 60px 0 40px 0;
  text-align: center;
}

.companies__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.companies__item {
  width: 15%;
}

.talents {
  text-align: center;
  padding: 60px 0;
}

.talents__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.talents__item {
  padding: 20px 30px;
  margin-bottom: 45px;
  text-align: left;
  width: 22%;
  border-radius: 5px;
  transition: box-shadow 0.15s, transform 0.15s;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.talents__item:hover {
  transform: translate3d(2px, -2px, 0);
}

.footer {
  padding: 30px 0;
  background-color: rgba(116, 198, 157, 1);
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1300px) {
  .talents__item {
    padding: 10px;
  }
}

@media (max-width: 1100px) {
  .text_semi {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .text_semi {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  .nav_header {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .row__content {
    flex-direction: column;
  }

  .row__item {
    width: 100%;
    flex-direction: column;
  }

  .row__item_big,
  .row__item_second {
    order: 1;
    margin-bottom: 30px;
  }

  .row__item_small,
  .row__item_first {
    order: 2;
  }

  .talents__content {
    flex-direction: column;
  }

  .talents__item {
    padding: 20px 30px;
    width: 80%;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__text {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 80px;
  }

  .text_semi {
    font-size: 24px;
  }

  .companies__content {
    flex-direction: column;
  }

  .companies__item {
    width: 60%;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 60px;
  }

  .intro {
    padding: 80px 0 40px 0;
  }

  .companies {
    padding: 20px 0;
  }

  .companies__content {
    margin-bottom: 0px;
  }

  .row {
    padding: 40px 0;
  }

  .talents {
    padding-top: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 20px;
  }
}
